@page "/login"

@using BlazorAppServer.Contacts
@using BlazorAppServer.Models
@inject IUserService UserService // Remove the underscore
@inject ILogger<Login> Logger // Remove the underscore
@inject NavigationManager Navigation


<h3>Login</h3>

<EditForm Model="@loginModel" OnValidSubmit="@HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="Username">Username</label>
        <InputText id="Username" class="form-control" @bind-Value="loginModel.Username" />
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <InputText id="Password" type="password" class="form-control" @bind-Value="loginModel.Password" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>


@code {
    private LoginModel loginModel = new LoginModel();

    private async Task HandleLogin()
    {
        // Use the correct service name
        var result = await UserService.PasswordSignInAsync(loginModel.Username, loginModel.Password);
        if (result.Username!=null)
        {
            Navigation.NavigateTo("/");
        }
        else
        {
            // Handle failed login
        }
    }
}
